<h2>Products</h2>

<!-- 1. 구조 디렉티브 사용(*ngFor) -->
<!-- 구조 디렉티브는 DOM 요소(엘리먼트)를 반복 생성, 조건에 의한 추가/제거를 하며 레이아웃을 변경한다. -->
<!-- *ngFor를 이용해 상품 목록(products)에 있는 개별 상품마다 각각 div 엘리먼트를 생성한다. -->
<div *ngFor="let product of products">
  <!-- 2. 문자열 바인딩(interpolation) -->
  <!-- 상품 목록의 상품명을 바인딩한다. -->
  <h3>
    <!-- #프로퍼티 바인딩 문법[] : 프로퍼티 값을 템플릿 표현식으로 활용할 수 있다. -->
    <a [title]="product.name + ' details'">{{ product.name }}</a>
    <!-- <a title="{{ product.name }} details">{{ product.name }}</a> -->
  </h3>
  <!-- 4. *ngIf 디렉티브를 이용한 상품 설명 추가
  <p>엘리먼트에 *ngIf 디렉티브를 추가하면 상품 설명이 존재할 때만 상품의 설명을 위한 엘리먼트가 추가된다. -->
  <p *ngIf="product.description">Description: {{ product.description }}</p>
  <!-- 5. 상품 공유를 위한 버튼 추가 및 이벤트 핸들러 바인딩
  엘리먼트에서 발생하는 이벤트 감지를 위해서는 이벤트 이름을 소괄호로 감싸준다. -->
  <button (click)="share()">Share</button>
  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
